{% if steam != 0 %}
    <!doctype html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>S'inscrire</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center register">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Inscription</h3>
                            <form>
                                <div id="InfBar" role="alert" class="alert"></div>
                                <a id="LoginLink" href="{{ path_for('login') }}">Me connecter</a>
                                <div class="form-group">
                                    <label for="mail">Email</label>
                                    <input type="text" class="form-control p_input" id="mail" autofocus="autofocus">
                                </div>
                                <div class="form-group">
                                    <label for="pass">Mot de Passe</label>
                                    <input type="password" class="form-control p_input" id="pass">
                                </div>
                                <div class="form-group">
                                    <label for="c_pass">Confirmation Mot de Passe</label>
                                    <input type="password" class="form-control p_input" id="c_pass">
                                </div>
                                <div class="text-center">
                                    <button id="register" class="btn btn-primary btn-block enter-btn">Inscription</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
    </div>
    </body>
    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(function () {
                $("#InfBar").hide();
                $("#LoginLink").hide();

                $("#register").on('click', function (e) {
                    e.preventDefault();
                    let mail = $("#mail"), pass = $("#pass"), cpass = $("#c_pass");

                    if (mail.val() !== "" && pass.val() !== "" && cpass.val() !== "") {
                        if (pass.val() === cpass.val()) {
                            Alert("success", "Inscription..");
                            $.post(
                                '{{ path_for('r_register') }}',
                                {
                                    mail: mail.val(),
                                    pass: pass.val(),
                                    uid: "{{ steam.steamid }}",
                                    steamurl: "{{ steam.profileurl }}",
                                    steamavatar: "{{ steam.avatarfull }}",
                                    steamrealname: "{{ steam.realname }}"
                                },

                                function (data) {

                                    if (data === 'registred') {
                                        Alert("success", "Connexion..");
                                        $.post(
                                            '{{ path_for('r_connect') }}',
                                            {
                                                mail: $("#mail").val(),
                                                pass: $("#pass").val()
                                            },

                                            function (data) {

                                                if (data === 'Logged') {
                                                    Alert("success", "Connexion..");
                                                    $(location).attr('href', '/');
                                                } else if (data.startsWith('ERROR_')) {
                                                    switch (data.substring(6)) {
                                                        case 'NO_INFORMATION':
                                                            Alert("info", "Veuillez remplir tous les champs");
                                                            break;
                                                        case 'DENIED':
                                                            Alert("danger", "Adresse email ou mot de passe incorrect");
                                                            break;
                                                        case 'DENIED_DISABLE':
                                                            Alert("danger", "Votre compte est désactivé");
                                                            break;
                                                        default:
                                                            alert(data);
                                                    }
                                                } else {
                                                    alert(data);
                                                }

                                            },
                                            'text'
                                        );
                                    } else if (data.startsWith('ERROR_')) {
                                        switch (data.substring(6)) {
                                            case 'NO_INFORMATION':
                                                Alert("info", "Veuillez remplir tous les champs");
                                                break;
                                            case 'INSERT':
                                                Alert("info", "Impossible de créer le comtpe");
                                                break;
                                            case 'UID':
                                                Alert("info", "Votre UID est déja rattaché à un compte.", true);
                                                break;
                                            case 'EMAIL':
                                                Alert("info", "Votre Email est déja rattaché à un compte.", true);
                                                break;
                                            default:
                                                alert(data);
                                        }
                                    } else {
                                        alert(data);
                                    }

                                },
                                'text'
                            );
                        } else {
                            Alert("danger", "Les mots de passe ne sont pas identiques");
                        }
                    } else {
                        Alert("info", "Veuillez remplir tous les champs");
                    }

                });
            });

            function Alert(color, text, link = false) {
                let infbar = $("#InfBar");
                infbar.show();
                infbar.removeClass();
                infbar.addClass("alert alert-" + color);
                infbar.text(text);
                if (link) $("#LoginLink").show();

            }
        </script>
    </footer>
    </html>
{% else %}
{{ a|raw }}
{% endif %}